@model Classifieds.WebUI.ViewModels.ItemTypeFeatureViewModel
@using Classifieds.WebUI.Helpers;
@{ int cont = 0; }
@foreach (var sec in Model.Sections)
{
    <div class="@sec.Name">
        
       Section: @sec.Name

         @foreach (var item in sec.Features)
         {
        <div class="editor-label">
            @Html.Label(item.Name)
        </div>
        <div class="editor-field">
            @DynamicControlHelper.GetControl(@Html,item,cont++)           
        </div>
         }
        
    </div>
}